body {
    margin: 0px;
    background: #000;
}

.main-wrapper {
    width: 100%;
    padding-bottom: 20px;
    background: #dedede;
}

/*for nav*/
nav {
    padding: 15px;
    background-color: #333;
}

.navbar-list {
    display: inline;
    float: right;
    margin-right: 40px;
    font-size: 10pt;
}

.navbar-list li {
    display: inline-block;
}

.navbar-list li a {
    font-family: 黑体;
    text-decoration: none;
    color: #ffffff;
}

.navbar-list li a:hover {
    color: #8c8c8c;
}

/*for sections*/
section, aside {
    padding: 15px;
    font-family: 微软雅黑;
    background: #fff;
    border: none;
    -webkit-box-shadow: 2px 2px 4px #888;
}

section {
    width: 90%;
    margin: 15px 5% 15px 5%;
}

section h1 {
    margin: 15px 0 15px 0;
    font-size: 1.5em;
}

section h2 {
    margin: 10px 0 10px 0;
    font-size: 1.1em;
    color: #777777;
}

section h5 {
    margin: 5px 0 5px 0;
    color: #999999;
}

section p {
    font-size: 1em;
    text-indent: 2em;
}

/*for articles*/
article {
    margin: 15px;
}

/*for img in section 3*/
.img-wrapper {
    position: relative;
    left: 25px;
    padding: 5px;
    margin: 15px;
    width: 200px;
    text-align: center;
    border: 1px solid #ccc;
}

.img-wrapper img {
    width: 90%;
    height: 90%;
}

.img-wrapper p {
    font-size: 10pt;
}

/*for table*/
table {
    width: 100%;
    border-collapse: collapse;
}

table th, td {
    border: 1px solid #ccc;
}

table th {
    color: #fff;
    background: #333;
}

tr.all {
    background: #ccc;
}

/*for aside*/
aside {
    width: 80%;
    margin: 15px 15% 15px 5%;
}

aside h1 {
    padding-left: 15px;
    line-height: 2em;
    font-size: 1em;
    font-weight: bold;
    border-left: 4px solid #ccc;
}

/*for input-table*/
.input-table {
    width: 80%;
    margin: 0 10% 0 10%;
    font-size: small;
    border: none;
}

.input-table tr > td:nth-child(1) {
    text-align: right;
}

#self-desc-cell {
    text-align: right;
    vertical-align: top;
}

.input-table td {
    padding-right: 10px;
    border: none;
}

.input-tips {
    display: inline-block;
    margin: 0 0 20px 0;
    color: #8c8c8c;
}

.input-table input, select, textarea {
    margin: 10px 0 10px 0;
}

.input-table input[type="email"], input[type="password"] {
    width: 50%;
    line-height: 2em;
}

.input-table textarea {
    width: 100%;
    font-size: 1.5em;
}

/*for button*/
button {
    width: 90%;
    height: 40px;
    margin: 0 5% 0 5%;
    color: #fff;
    font-weight: bold;
    background: #3385ff;
    border-bottom: 1px solid #2d78f4;
    border-radius: 5px;
}
button:hover {
    background: #317ef3;
    border-bottom: 1px solid #2868c8;
}

/*for footer*/
footer {
    color: #fff;
    text-align: center;
}
