/*隐藏默认#method-1 input控件*/
input{
   display: none
}
/*保证控件与描述文字的完整性*/
span{
    display: inline-block;
}
/*做法一：使用伪元素、伪类*/
/*定义未选中边框*/
#method-1 input + label{
  background-color: white;
  border: 1px solid #ccc;
  width: 16px;
  height: 16px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
#method-1 input[type="checkbox"] + label{
  display: inline-block;
  border-radius: 2px;
  line-height: 16px;
}
#method-1 input[type="radio"] + label{
  border-radius: 50%;
}
/*定义选中后label背景*/
#method-1 input:checked + label{
  background: #fff;
  border: 1px solid #d73e33;
}
/*添加选中后的标记*/
#method-1 input:checked + label::after{
  color: #d73e33;
  display: block;
}
#method-1 input[type="checkbox"]:checked + label::after{
  content: "\2714";
  font-weight: bold;
  -webkit-transform: scale(0.8,0.8);
}
#method-1 input[type="radio"]:checked + label::after{
  content:" ";
  /*1-(6px/16px)/2*/
  -webkit-transform: translate(81.25%, 81.25%);
  width: 6px;
  height: 6px;
  background-color: #d73e33;
  border-radius: 50%;
}
/*做法二：使用背景图片＊／
/*定义背景及未选中样式*/
#method-2 input + label{
    background: url(bg-label.png);
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    -webkit-transform: translate(0, -10%);
}
#method-2 input[type="radio"] + label{
    background-position: 28% 28%;
}
#method-2 input[type="checkbox"] + label{
    background-position: 28% 95%;
}
/*定义选中样式*/
#method-2 input[type="radio"]:checked + label{
    background-position: 71% 28%;
}
#method-2 input[type="checkbox"]:checked + label{
    background-position: 71% 92%;
}